# PySchools 

## 3 Observable Trends in PySchools 

   ##### 1) The top 5 performing schools are all charter schools and the bottom 5  schools are all district schools.
   
   ##### 2) Within schools math and reading scores remain consistent across grades. There are modest differences between schools.
   
   ##### 3) Schools with higher budgets yield lower pass rates than schools with smaller budgets. Smaller & Medium size schools perform better than large schools.

In [541]:
#Dependencies
import pandas as pd
import os

In [542]:
# define file path
schools_filepath_csv = os.path.join('raw_data','schools_complete.csv')
print(os.path.exists(schools_filepath_csv))

None

True

In [543]:
# define file path
students_filepath_csv = os.path.join('raw_data', 'students_complete.csv')
#print(os.path.exists(students_filepath_csv))

None

In [544]:
# read schools file
schools_df = pd.read_csv(schools_filepath_csv)
#print(schools_df)

None

In [545]:
#read student file
students_df = pd.read_csv(students_filepath_csv)
students_df.head()

None

In [546]:
# Find Total Number of Schools within the District

dist_schools = schools_df['name'].unique()

school_numbers = len(dist_schools)

#print(school_numbers)

None

In [547]:
# Find Total Number of Students within District

total_dist_students = schools_df['size'].sum()
#print(total_dist_students)

None

In [548]:
#Find Total District Budget

total_dist_budget = schools_df['budget'].sum()

#print(total_dist_budget)

None

In [549]:
# Find District's Average Math Score


dist_student_ave_math = students_df["math_score"].mean()

#print(dist_student_ave_math)

None

In [550]:
# Find District's Average Reading Score

dist_student_ave_reading = students_df["reading_score"].mean()

#print(dist_student_ave_reading)

None

In [551]:
# Find Total Number of Students Passing Math

total_passing_math = (students_df['math_score'] >= 60).sum()

#print(total_passing_math)

# Find Total % of Students Passing Math

percent_passing_math = (total_passing_math/total_dist_students)*100

#print(percent_passing_math)

None

In [552]:
# Find Total Number of Students Passing Reading

total_passing_reading = (students_df['reading_score'] >= 60).sum()

#print(total_passing_reading)

# Find Total % of Students Passing Reading

percent_passing_reading = (total_passing_reading/total_dist_students)*100

#print(percent_passing_reading)

None

In [553]:
# Find Overall Passing Rate (Average of the above two)

combined_dist_passing = ((percent_passing_reading + percent_passing_math)/2)

#print(combined_dist_passing)

None

In [554]:
# Create District Summary Table

district_sum_table = pd.DataFrame({
    
    "Total Schools": [school_numbers],
    "Total Students": [total_dist_students],
    "Total Budget": [total_dist_budget],
    "Average Math Score": [dist_student_ave_math],
    "Average Reading Score": [dist_student_ave_reading],
    "% Passing Reading": [percent_passing_reading],
    "% Passing Math": [percent_passing_math],
    "Overall Passing Rate":[combined_dist_passing]
})

In [555]:
district_sum_table = district_sum_table[["Total Schools", "Total Students","Total Budget",
                                     "Average Math Score", "Average Reading Score", 
                                     "% Passing Reading", "% Passing Math", "Overall Passing Rate"]]

district_sum_table.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,100.0,92.445749,96.222875

# District Summary

In [556]:
district_sum_table["Total Students"] = district_sum_table["Total Students"].map("{: ,}".format)
district_sum_table["Total Budget"] = district_sum_table["Total Budget"].map("${:,.2f}".format)
district_sum_table["Average Math Score"] = district_sum_table["Average Math Score"].map("{:.2f}%".format)
district_sum_table["Average Reading Score"] = district_sum_table["Average Reading Score"].map("{:.2f}%".format)
district_sum_table["% Passing Math"] = district_sum_table["% Passing Math"].map("{:.2f}%".format)
district_sum_table["% Passing Reading"] = district_sum_table["% Passing Reading"].map("{:.2f}%".format)
district_sum_table["Overall Passing Rate"] = district_sum_table["Overall Passing Rate"].map("{:.2f}%".format)

district_sum_table.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99%,81.88%,100.00%,92.45%,96.22%

In [557]:
# Top Performing Schools (By Passing Rate)


# Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:


# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

In [558]:
#Rename Columns to Consolidate/Merge/Join/Group CSV files??

schools_df = schools_df.rename(columns={"name":"school"})
students_df = students_df.rename(columns={"school":"school"})

In [560]:
top_schools_df = students_df.groupby(['school'])

#top_schools_df.head()

In [561]:
#Group by School Type

school_type = schools_df.set_index('school')['type']
#print(school_type)

In [562]:
#Find Average Math Score for all schools

top_schools_ave_math_df = pd.DataFrame(top_schools_df["math_score"].mean())

#print(top_schools_ave_math_df)

In [563]:
#Find Average Reading Score for all schools

top_schools_ave_reading_df = pd.DataFrame(top_schools_df["reading_score"].mean())

#print(top_schools_ave_reading_df)

In [564]:
#Group students passing math and reading by school

school_stu_passing_math = students_df[students_df["math_score"]>= 60].groupby(["school"])
                                                                   
school_stu_passing_reading = students_df[students_df["reading_score"]>= 60].groupby(["school"])

In [565]:
#Number of Students Per School
school_student_count = top_schools_df['name'].count()
#print(school_student_count)

In [566]:
#Find Budget per School

schools_budgets = schools_df.set_index('school')['budget']

#print(schools_budgets)

In [567]:
#Schools spending per Student

student_spending = schools_budgets/school_student_count
#print(student_spending)

In [568]:
#Average Math Score by School
average_school_math = top_schools_df['math_score'].mean()
#print(average_school_math)

In [569]:
#Average Reading Score by School

average_school_reading = top_schools_df['reading_score'].mean()
#print(average_school_reading)

In [570]:
#Find the total number of students that passed math by school

pass_math_school_numbers = students_df[students_df['math_score'] >= 60].groupby('school')['name'].count()
#print(pass_math_school_numbers)

In [571]:
#Find the total number of students that passed reading by school

pass_reading_school_numbers = students_df[students_df['reading_score'] >= 60].groupby('school')['name'].count()
#print(pass_reading_school_numbers)

In [572]:
#Find the total percent of students that passed math by school
percent_pass_math_school = (pass_math_school_numbers/school_student_count)
#print(percent_pass_math_school)

In [573]:
#Find the total percent of students that passed reading by school
percent_pass_reading_school = percent_pass_reading_school = (pass_reading_school_numbers/school_student_count)
#print(percent_pass_reading_school)

In [574]:
#Calculate total percent passing by school
total_percent_pass = (percent_pass_reading_school + percent_pass_math_school)/2
#print(total_percent_pass)

In [575]:
school_summary_table = pd.DataFrame({
    "School Type": school_type,
    "Total Students": school_student_count,
    "Per Student Budget": student_spending ,
    "Total School Budget": schools_budgets,
    "Average Math Score": average_school_math ,
    "Average Reading Score": average_school_reading,
    '% Passing Math': percent_pass_math_school,
    '% Passing Reading': percent_pass_reading_school,
    "Overall Passing Rate": total_percent_pass
})

In [576]:
#rearranging column order
school_summary_table = school_summary_table[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          'Overall Passing Rate']]

In [577]:
#formatting table cells
school_summary_table.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.1f}", 
                          'Average Reading Score': "{:.1f}", 
                          "% Passing Math": "{:.2%}", 
                          "% Passing Reading": "{:.2%}", 
                          "Overall Passing Rate": "{:.2%}"})

# Top 5 Performing Schools By Pass Rate

In [578]:
# Arrange(sort) schools by passing rates (PRINT!)
top_5_performing_schools = school_summary_table.sort_values("Overall Passing Rate", ascending = False)
top_5_performing_schools.head().style.format({'Total Students': '{:,}',
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.0f}", 
                           "% Passing Math": "{:.1%}", 
                           "% Passing Reading": "{:.1%}", 
                           "Overall Passing Rate": "{:.1%}"})

# Bottom 5 Performing Schools By Pass Rate

In [579]:
#Find the 5 lowest performing school and arrange(sort) from the worst to best (DO NOT PRINT!)
bottom_5_performing_schools = top_5_performing_schools.tail()
bottom_5_performing_schools = bottom_5_performing_schools.sort_values('Overall Passing Rate', ascending = True)
bottom_5_performing_schools.head().style.format({'Total Students': '{:,}', 
                       "Total School Budget": "${:,}", 
                       "Per Student Budget": "${:.0f}", 
                       "% Passing Math": "{:.1%}", 
                       "% Passing Reading": "{:.1%}", 
                       "Overall Passing Rate": "{:.1%}"})

In [580]:
#Find and breakdown grades data by year in school 

freshman_df = students_df.loc[students_df["grade"] == "9th"].groupby("school", as_index=False)
sophomore_df = students_df.loc[students_df["grade"] == "10th"].groupby("school", as_index=False)
junior_df = students_df.loc[students_df["grade"] == "11th"].groupby("school", as_index=False)
senior_df = students_df.loc[students_df["grade"] == "12th"].groupby("school", as_index=False)

In [581]:
# freshman_df.head()

In [582]:
#Group and find average math score by grade 
freshman_math_mean = pd.DataFrame(freshman_df["math_score"].mean())
sophomore_math_mean = pd.DataFrame(sophomore_df["math_score"].mean())
junior_math_mean = pd.DataFrame(junior_df["math_score"].mean())
senior_math_mean = pd.DataFrame(senior_df["math_score"].mean())

In [583]:
#Group and find average readin score by grade 
freshman_reading_mean = pd.DataFrame(freshman_df["reading_score"].mean())
sophomore_reading_mean = pd.DataFrame(sophomore_df["reading_score"].mean())
junior_reading_mean = pd.DataFrame(junior_df["reading_score"].mean())
senior_reading_mean = pd.DataFrame(senior_df["reading_score"].mean())

In [584]:
#Merge math by grade to summary table (merge on right error??)

math_grade = pd.merge(freshman_math_mean, sophomore_math_mean, on="school")
# math_grade = pd.merge(sophomore_math_mean, on="school")
math_grade = pd.merge(math_grade, junior_math_mean, on="school") 
math_grade = pd.merge(math_grade, senior_math_mean, on="school")
math_grade.columns = ["school","freshman","sophomore","junior","senior"]

#print(math_grade)

In [585]:
#Merge reading by grade to summary table (merge on right error?? still..)

reading_grade = pd.merge(freshman_reading_mean, sophomore_reading_mean, on="school")
# math_grade = pd.merge(sophomore_reading_mean, on="school")
reading_grade = pd.merge(reading_grade, junior_reading_mean, on="school") 
reading_grade = pd.merge(reading_grade, senior_reading_mean, on="school")
reading_grade.columns = ["school","freshman","sophomore","junior","senior"]
print(reading_grade)

                   school   freshman  sophomore     junior     senior
0      Bailey High School  81.303155  80.907183  80.945643  80.912451
1     Cabrera High School  83.676136  84.253219  83.788382  84.287958
2    Figueroa High School  81.198598  81.408912  80.640339  81.384863
3        Ford High School  80.632653  81.262712  80.403642  80.662338
4     Griffin High School  83.369193  83.706897  84.288089  84.013699
5   Hernandez High School  80.866860  80.660147  81.396140  80.857143
6      Holden High School  83.677165  83.324561  83.815534  84.698795
7       Huang High School  81.290284  81.512386  81.417476  80.305983
8     Johnson High School  81.260714  80.773431  80.616027  81.227564
9        Pena High School  83.807273  83.612000  84.335938  84.591160
10  Rodriguez High School  80.993127  80.629808  80.864811  80.376426
11    Shelton High School  84.122642  83.441964  84.373786  82.781671
12     Thomas High School  83.728850  84.254157  83.585542  83.831361
13     Wilson High School  83.939778  84.021452  83.764608  84.317673
14     Wright High School  83.833333  83.812757  84.156322  84.073171

# Math Score By Grade

In [586]:
#format and display table Math Score by Grade
math_grade.style.format({'freshman': '{:.2f}', 
                          'sophomore': '{:.2f}', 
                          'junior': "{:.2f}", 
                          'senior': "{:.2f}"})

# Reading Score By Grade

In [587]:
#format and display table Reading Score by Grade
reading_grade.style.format({'freshman': '{:.2f}', 
                          'sophomore': '{:.2f}', 
                          'junior': "{:.2f}", 
                          'senior': "{:.2f}"})

In [588]:
# Scores by School Budget per Student
bins = [0, 584.999, 614.999, 644.999, 999999]
group_names = ["0 to 585", "585 to 615", "615 to 645", "645 to 675"]
school_student_budget_scores = school_summary_table[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"]].groupby(pd.cut(school_summary_table["Per Student Budget"], bins=bins, labels=group_names )).mean()

# Scores By School Spending

In [589]:
#formating school budget (spending) per student table cells
school_student_budget_scores.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

In [590]:
# Scores by School Size
bins = [0, 1000, 2500, 50000]
group_names = ["Small < 1000", "Medium 1000 to 2500", "Large 2500 to 10000"]
school_student_scores_size = school_summary_table[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"]].groupby(pd.cut(school_summary_table["Total Students"], bins=bins, labels=group_names )).mean()

# Scores By School Size

In [591]:
#formating school by size table cells
school_student_scores_size.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

In [592]:
# Scores by School Type
school_type_summary_table = school_summary_table
school_type_summary_table["School Type"] = school_type_summary_table["School Type"].replace({"Charter": 1, "District": 2})

In [593]:
#print(school_type_summary_table)

In [594]:
bins = [0, 1, 2]
group_names = ["Charter", "District"]
student_scores_school_type  = school_type_summary_table[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"]].groupby(pd.cut(school_type_summary_table["School Type"], bins=bins, labels=group_names)).mean()

In [595]:
#print(student_scores_school_type)

In [596]:
#student_scores_school_type.head()

# Scores By School Type

In [597]:
#formating
student_scores_school_type.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

In [598]:
######

#END